<div class="d-flex flex-row justify-content-center">
  <!-- card images -->
  <!--<div class="card-container card image-card">
    <img src="./../assets/bote.png" class="card-img-top" alt="TODO" />
  </div>-->
  <app-row-card class="card image-card" imageName="bote"
    imageUrl="./../assets/bote.png"></app-row-card>
  <!--<div class="card-container card image-card">
    <img src="./../assets/diamante.png" class="card-img-top" alt="TODO" />
  </div>-->
  <app-row-card class="card image-card" imageName="pala"
    imageUrl="./../assets/pala.png"></app-row-card>

  <!--<div class="card-container card image-card">
    <img src="./../assets/espada.png" class="card-img-top" alt="TODO" />
  </div>-->
  <!--<div class="card-container card image-card">
    <img src="./../assets/hacha.png" class="card-img-top" alt="TODO" />
  </div>-->
</div>
